VSM.RUMA.CORE.SOAPLNV/Web References/MachtigingenWS/machtigingen_v2_0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:alg="http://www.ienr.org/schemas/types/algemeen_v2_0" xmlns:machtiging="http://www.ienr.org/schemas/types/machtigingen_v2_0" xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.ienr.org/schemas/types/machtigingen_v2_0" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import schemaLocation="algemeen_v2_0.xsd" namespace="http://www.ienr.org/schemas/types/algemeen_v2_0" />
  <xsd:complexType name="verwerkingsresultaatType">
    <xsd:sequence>
      <xsd:element name="foutcode" nillable="true" type="alg:foutcodeType" />
      <xsd:element name="foutmelding" nillable="true" type="alg:foutmeldingType" />
      <xsd:element name="soortFoutIndicator" nillable="true" type="alg:soortFoutIndicatorType" />
      <xsd:element name="succesIndicator" nillable="true" type="alg:jaNeeIndicatorType" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="vastleggenMachtigingenType">
    <xsd:sequence>
      <xsd:element name="requestID" type="alg:requestIdType" />
      <xsd:element name="actie" type="alg:actieType" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="machtigingVastleggenType">
    <xsd:sequence>
      <xsd:element name="relatienummerHouder" type="alg:relatienummerType" />
      <xsd:element name="relatienummerGemachtigde" type="alg:relatienummerType" />
      <xsd:element name="postcode" nillable="true" type="alg:postcodeType" />
      <xsd:element name="huisnummer" nillable="true" type="alg:huisnummerType" />
      <xsd:element name="datumIngang" type="alg:datumType" />
      <xsd:element name="datumEinde" nillable="true" type="alg:datumType" />
      <xsd:element name="typeMachtiging" type="alg:machtigingType" />
      <xsd:element name="codeOvereenkomst" nillable="true" type="alg:overeenkomstCodeType" />
      <xsd:element name="verklaringIndicator" nillable="true" type="alg:jaNeeIndicatorType" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="machtigingVastleggenResponseType">
    <xsd:sequence>
      <xsd:element name="relatienummerHouder" type="alg:relatienummerType" />
      <xsd:element name="relatienummerGemachtigde" type="alg:relatienummerType" />
      <xsd:element name="postcode" nillable="true" type="alg:postcodeType" />
      <xsd:element name="huisnummer" nillable="true" type="alg:huisnummerType" />
      <xsd:element name="datumIngang" type="alg:datumType" />
      <xsd:element name="datumEinde" nillable="true" type="alg:datumType" />
      <xsd:element name="typeMachtiging" type="alg:machtigingType" />
      <xsd:element name="codeOvereenkomst" nillable="true" type="alg:overeenkomstCodeType" />
      <xsd:element name="verklaringIndicator" nillable="true" type="alg:jaNeeIndicatorType" />
      <xsd:element name="verwerkingsresultaat" type="alg:verwerkingsresultaatType" />
      <xsd:element name="naam" nillable="true" type="alg:relatienaamSamengesteldType" />
      <xsd:element name="korteOmschrijvingOvereenkomst" nillable="true" type="alg:overeenkomstOmschrijvingType" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="vastleggenMachtigingenRequestType">
    <xsd:complexContent mixed="false">
      <xsd:extension base="machtiging:vastleggenMachtigingenType">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="unbounded" name="machtiging" type="machtiging:machtigingVastleggenType" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="vastleggenMachtigingenResponseType">
    <xsd:complexContent mixed="false">
      <xsd:extension base="machtiging:vastleggenMachtigingenType">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="unbounded" name="machtigingenResponse" type="machtiging:machtigingVastleggenResponseType" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="beeindigenVastleggenType">
    <xsd:sequence>
      <xsd:element name="relatienummerHouder" type="alg:relatienummerType" />
      <xsd:element name="relatienummerGemachtigde" type="alg:relatienummerType" />
      <xsd:element name="datumIngang" type="alg:datumType" />
      <xsd:element name="datumEinde" nillable="true" type="alg:datumType" />
      <xsd:element name="typeMachtiging" type="alg:machtigingType" />
      <xsd:element name="codeOvereenkomst" nillable="true" type="alg:overeenkomstCodeType" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="beeindigenResponseVastleggenType">
    <xsd:sequence>
      <xsd:element name="relatienummerHouder" type="alg:relatienummerType" />
      <xsd:element name="relatienummerGemachtigde" type="alg:relatienummerType" />
      <xsd:element name="datumIngang" type="alg:datumType" />
      <xsd:element name="datumEinde" nillable="true" type="alg:datumType" />
      <xsd:element name="typeMachtiging" type="alg:machtigingType" />
      <xsd:element name="codeOvereenkomst" nillable="true" type="alg:overeenkomstCodeType" />
      <xsd:element name="verwerkingsresultaat" type="alg:verwerkingsresultaatType" />
      <xsd:element name="naam" nillable="true" type="alg:relatienaamSamengesteldType" />
      <xsd:element name="korteOmschrijvingOvereenkomst" nillable="true" type="alg:overeenkomstOmschrijvingType" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="beeindigenMachtigingenRequestType">
    <xsd:complexContent mixed="false">
      <xsd:extension base="machtiging:vastleggenMachtigingenType">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="unbounded" name="machtigingEinde" type="machtiging:beeindigenVastleggenType" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="beeindigenMachtigingenResponseType">
    <xsd:complexContent mixed="false">
      <xsd:extension base="machtiging:vastleggenMachtigingenType">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="unbounded" name="machtigingEindeResponse" type="machtiging:beeindigenResponseVastleggenType" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="rdplnMachtigingenRequest" type="machtiging:rdplnMachtigingenRequestType" />
  <xsd:complexType name="rdplnMachtigingenRequestType">
    <xsd:sequence>
      <xsd:element name="requestID" type="alg:requestIdType" />
      <xsd:element name="machtigerGemachtigdeInd" type="alg:jaNeeIndicatorType" />
      <xsd:element name="historieIndicator" type="alg:jaNeeIndicatorType" />
      <xsd:element name="relatienummer" nillable="true" type="alg:relatienummerType" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="overeenkomstType">
    <xsd:sequence>
      <xsd:element name="code" nillable="true" type="alg:overeenkomstCodeType" />
      <xsd:element name="korteOmschrijving" nillable="true" type="alg:overeenkomstOmschrijvingType" />
      <xsd:element name="beginDatum" nillable="true" type="alg:datumType" />
      <xsd:element name="eindDatum" nillable="true" type="alg:datumType" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="machtiginggegevensType">
    <xsd:sequence>
      <xsd:element name="relatienummerHouder" nillable="true" type="alg:relatienummerType" />
      <xsd:element name="relatienummerGemachtigde" nillable="true" type="alg:relatienummerType" />
      <xsd:element name="naam" nillable="true" type="alg:relatienaamSamengesteldType" />
      <xsd:element name="adresOms" nillable="true" type="alg:adresType" />
      <xsd:element name="postcodeOms" nillable="true" type="alg:postcodeType" />
      <xsd:element name="plaatsnaam" nillable="true" type="alg:woonplaatsType" />
      <xsd:element name="typeMachtiging" nillable="true" type="alg:machtigingType" />
      <xsd:element name="beginDatum" nillable="true" type="alg:datumType" />
      <xsd:element name="eindDatum" nillable="true" type="alg:datumType" />
      <xsd:element minOccurs="0" maxOccurs="1" name="overeenkomst" type="machtiging:overeenkomstType" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="rdplnMachtigingenResponse" type="machtiging:rdplnMachtigingenResponseType" />
  <xsd:complexType name="rdplnMachtigingenResponseType">
    <xsd:complexContent mixed="false">
      <xsd:extension base="machtiging:rdplnMachtigingenRequestType">
        <xsd:sequence>
          <xsd:element name="verwerkingsresultaat" type="alg:verwerkingsresultaatType" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="machtiginggegevens" type="machtiging:machtiginggegevensType" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="rdplnHoudersWaarvoorGemachtigdRequest" type="machtiging:rdplnHoudersWaarvoorGemachtigdRequestType" />
  <xsd:complexType name="rdplnHoudersWaarvoorGemachtigdRequestType">
    <xsd:sequence>
      <xsd:element name="requestID" type="alg:requestIdType" />
      <xsd:element name="selNaamHouder" nillable="true" type="alg:relatienaamSamengesteldType" />
      <xsd:element name="selPlaatsnaamHouder" nillable="true" type="alg:woonplaatsType" />
      <xsd:element name="selPostcodePlaatscodeHouder" nillable="true" type="alg:postcodePlaatscodeType" />
      <xsd:element name="selPostcodeLettercodeHouder" nillable="true" type="alg:postcodeLettercodeType" />
      <xsd:element name="selHuisnummerHouder" nillable="true" type="alg:huisnummerType" />
      <xsd:element name="selRelatienummerHouder" nillable="true" type="alg:relatienummerType" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="machtigingType">
    <xsd:sequence>
      <xsd:element name="typeMachtiging" nillable="true" type="alg:machtigingType" />
      <xsd:element name="beginDatum" nillable="true" type="alg:datumType" />
      <xsd:element name="eindDatum" nillable="true" type="alg:datumType" />
      <xsd:element minOccurs="0" maxOccurs="1" name="overeenkomst" type="machtiging:overeenkomstType" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="houdergegevensType">
    <xsd:sequence>
      <xsd:element name="relatienummerHouder" nillable="true" type="alg:relatienummerType" />
      <xsd:element name="naam" nillable="true" type="alg:relatienaamSamengesteldType" />
      <xsd:element name="adresOms" nillable="true" type="alg:adresType" />
      <xsd:element name="postcodeOms" nillable="true" type="alg:postcodeType" />
      <xsd:element name="plaatsnaam" nillable="true" type="alg:woonplaatsType" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="machtigingen" type="machtiging:machtigingType" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="rdplnHoudersWaarvoorGemachtigdResponse" type="machtiging:rdplnHoudersWaarvoorGemachtigdResponseType" />
  <xsd:complexType name="rdplnHoudersWaarvoorGemachtigdResponseType">
    <xsd:complexContent mixed="false">
      <xsd:extension base="machtiging:rdplnHoudersWaarvoorGemachtigdRequestType">
        <xsd:sequence>
          <xsd:element name="verwerkingsresultaat" type="alg:verwerkingsresultaatType" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="houdergegevens" type="machtiging:houdergegevensType" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="rdplnMEUBNWaarvoorGemachtigdRequest" type="machtiging:rdplnMEUBNWaarvoorGemachtigdRequestType" />
  <xsd:complexType name="rdplnMEUBNWaarvoorGemachtigdRequestType">
    <xsd:sequence>
      <xsd:element name="requestID" type="alg:requestIdType" />
      <xsd:element name="selMeldingeenheid" nillable="true" type="alg:meldingeenheidType" />
      <xsd:element name="selPostcodePlaatscodeME" nillable="true" type="alg:postcodePlaatscodeType" />
      <xsd:element name="selPostcodeLettercodeME" nillable="true" type="alg:postcodeLettercodeType" />
      <xsd:element name="selHuisnummerME" nillable="true" type="alg:huisnummerType" />
      <xsd:element name="selTypeBedrijfsvestiging" nillable="true" type="alg:bedrijfsvestigingType" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="diersoortgegevensType">
    <xsd:sequence>
      <xsd:element name="dierSoort" nillable="true" type="alg:diersoortType" />
      <xsd:element name="productiedoel" nillable="true" type="alg:productiedoelType" />
      <xsd:element name="datumIngang" nillable="true" type="alg:datumType" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="meldingeenheidgegevensType">
    <xsd:sequence>
      <xsd:element name="MEnummer" nillable="true" type="alg:meldingeenheidType" />
      <xsd:element name="adresOmsME" nillable="true" type="alg:adresType" />
      <xsd:element name="postcodeME" nillable="true" type="alg:postcodeType" />
      <xsd:element name="plaatsnaamME" nillable="true" type="alg:woonplaatsType" />
      <xsd:element name="typeBedrijfsvestiging" nillable="true" type="alg:bedrijfsvestigingType" />
      <xsd:element name="relatienummerHouder" nillable="true" type="alg:relatienummerType" />
      <xsd:element name="naamHouder" nillable="true" type="alg:relatienaamSamengesteldType" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="diersoortgegevens" type="machtiging:diersoortgegevensType" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="rdplnMEUBNWaarvoorGemachtigdResponse" type="machtiging:rdplnMEUBNWaarvoorGemachtigdResponseType" />
  <xsd:complexType name="rdplnMEUBNWaarvoorGemachtigdResponseType">
    <xsd:complexContent mixed="false">
      <xsd:extension base="machtiging:rdplnMEUBNWaarvoorGemachtigdRequestType">
        <xsd:sequence>
          <xsd:element name="verwerkingsresultaat" type="alg:verwerkingsresultaatType" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="meldingeenheidgegevens" type="machtiging:meldingeenheidgegevensType" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
</xsd:schema>