VSM.RUMA.SOAPSANITEL/Web References/SanitelServices/schema146.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://Sanitel.EAI/SanitelRepository/SanitelServices/SlaughteringStatisticsOverviewExportRequest" elementFormDefault="qualified" targetNamespace="http://Sanitel.EAI/SanitelRepository/SanitelServices/SlaughteringStatisticsOverviewExportRequest" id="schema146" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="SlaughteringStatisticsOverviewExportRequest">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="DTE_FRM" type="xs:dateTime" />
      <xs:element minOccurs="1" maxOccurs="1" name="DTE_TO" type="xs:dateTime" />
      <xs:element minOccurs="0" maxOccurs="1" name="FCLT_REF_NBR" type="xs:string" />
    </xs:sequence>
    <xs:attribute name="User" type="xs:string" />
    <xs:attribute name="ResultIndex" type="xs:int" />
    <xs:attribute name="OnBehalfRole" type="xs:string" />
    <xs:attribute name="OnBehalfEntity" type="xs:string" />
    <xs:attribute name="UserLanguage" type="xs:string" />
    <xs:attribute name="SecurityToken" type="xs:string" />
  </xs:complexType>
</xs:schema>