VSM.RUMA.SOAPSANITEL/Web References/SanitelServices/schema108.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://Sanitel.EAI/SanitelRepository/SanitelServices/ProductionUnitExportSchema" elementFormDefault="qualified" targetNamespace="http://Sanitel.EAI/SanitelRepository/SanitelServices/ProductionUnitExportSchema" id="schema108" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ProductionUnitExport">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" name="ProductionUnit">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" maxOccurs="1" name="PRUN_REF_NBR" type="xs:string" />
              <xs:element minOccurs="0" maxOccurs="1" name="SNUN_CDE" type="xs:string" />
              <xs:element minOccurs="0" maxOccurs="1" name="FCLT_CDE" type="xs:string" />
              <xs:element minOccurs="0" maxOccurs="1" name="ANML_REF_NBR" type="xs:string" />
              <xs:element minOccurs="0" maxOccurs="1" name="DTE_IN" type="xs:dateTime" />
              <xs:element minOccurs="0" maxOccurs="1" name="DTE_OUT" type="xs:dateTime" />
              <xs:element minOccurs="1" maxOccurs="1" name="PRUN_IDX" type="xs:long" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="User" type="xs:string" />
      <xs:attribute name="SecurityToken" type="xs:string" />
      <xs:attribute name="ReturnCode" type="xs:string" />
      <xs:attribute name="ReturnMessage" type="xs:string" />
    </xs:complexType>
  </xs:element>
</xs:schema>