VSM.RUMA.SOAPSANITEL/Web References/SanitelServices/schema42.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://Sanitel.EAI/SanitelRepository/SanitelServices/PassportImport" elementFormDefault="qualified" targetNamespace="http://Sanitel.EAI/SanitelRepository/SanitelServices/PassportImport" id="schema42" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="AnimalPassportImport">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AnimalPassport">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" name="NOTP_CDE" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="NOKD_CDE" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="OCR_DTE" type="xs:dateTime" />
            <xs:element minOccurs="0" maxOccurs="1" name="RCV_DTE" type="xs:dateTime" />
            <xs:element minOccurs="0" maxOccurs="1" name="REF_NBR" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="DOC_NBR" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="ANTP_CDE" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="ANSB_CDE" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="ORIG_CDE" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="unbounded" name="Animal">
              <xs:complexType>
                <xs:sequence>
                  <xs:element minOccurs="0" maxOccurs="1" name="REF_NBR" type="xs:string" />
                  <xs:element minOccurs="0" maxOccurs="1" name="PPT_VRS_NBR" type="xs:string" />
                  <xs:element minOccurs="0" maxOccurs="1" name="ANPP_BVD_LBL" type="xs:string" />
                  <xs:element minOccurs="0" maxOccurs="1" name="ANPP_BVD_VAL" type="xs:string" />
                  <xs:element minOccurs="0" maxOccurs="1" name="ANPP_BVD_NEG_FLG" type="xs:string" />
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="User" type="xs:string" />
    <xs:attribute name="SecurityToken" type="xs:string" />
    <xs:attribute name="OnBehalfRole" type="xs:string" />
    <xs:attribute name="OnBehalfEntity" type="xs:string" />
    <xs:attribute name="UserLanguage" type="xs:string" />
  </xs:complexType>
</xs:schema>