VSM.RUMA.SOAPSANITEL/Web References/SanitelServices/schema112.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://Sanitel.EAI/SanitelRepository/SanitelServices/SanitaryUnitOverviewExportSchema" elementFormDefault="qualified" targetNamespace="http://Sanitel.EAI/SanitelRepository/SanitelServices/SanitaryUnitOverviewExportSchema" id="schema112" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="SanitaryUnitOverviewExport">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" name="SanitaryUnit">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" maxOccurs="1" name="SUTP_CDE" type="xs:string" />
              <xs:element minOccurs="0" maxOccurs="1" name="CDE" type="xs:string" />
              <xs:element minOccurs="0" maxOccurs="1" name="NAM" type="xs:string" />
              <xs:element minOccurs="0" maxOccurs="1" name="REF_NBR" type="xs:string" />
              <xs:element minOccurs="0" maxOccurs="1" name="EXT_REF_NBR" type="xs:string" />
              <xs:element minOccurs="0" maxOccurs="1" name="ANTP_CDE" type="xs:string" />
              <xs:element minOccurs="0" maxOccurs="1" name="ANSB_CDE_BAG" type="xs:string" />
              <xs:element minOccurs="0" maxOccurs="1" name="PBST_CDE" type="xs:string" />
              <xs:element minOccurs="0" maxOccurs="1" name="PBRS_CDE" type="xs:string" />
              <xs:element minOccurs="0" maxOccurs="1" name="SUKD_CDE" type="xs:string" />
              <xs:element minOccurs="0" maxOccurs="1" name="PRQU_CDE_BAG" type="xs:string" />
              <xs:element minOccurs="0" maxOccurs="1" name="PRWA_CDE_BAG" type="xs:string" />
              <xs:element minOccurs="0" maxOccurs="1" name="SUHS_CDE_BAG" type="xs:string" />
              <xs:element minOccurs="0" maxOccurs="1" name="POP_CNT" type="xs:decimal" />
              <xs:element minOccurs="0" maxOccurs="1" name="UPD_DTE" type="xs:dateTime" />
              <xs:element minOccurs="0" maxOccurs="1" name="FCLT_CDE" type="xs:string" />
              <xs:element minOccurs="0" maxOccurs="1" name="FCLT_NAM" type="xs:string" />
              <xs:element minOccurs="0" maxOccurs="1" name="FCLT_REF_NBR" type="xs:string" />
              <xs:element minOccurs="0" maxOccurs="1" name="FCLT_EXT_REF_NBR" type="xs:string" />
              <xs:element minOccurs="0" maxOccurs="1" name="FLTP_CDE" type="xs:string" />
              <xs:element minOccurs="0" maxOccurs="1" name="FALO_REF_NBR" type="xs:string" />
              <xs:element minOccurs="0" maxOccurs="1" name="AL1" type="xs:string" />
              <xs:element minOccurs="0" maxOccurs="1" name="AL2" type="xs:string" />
              <xs:element minOccurs="0" maxOccurs="1" name="STR" type="xs:string" />
              <xs:element minOccurs="0" maxOccurs="1" name="NBR" type="xs:string" />
              <xs:element minOccurs="0" maxOccurs="1" name="BOX" type="xs:string" />
              <xs:element minOccurs="0" maxOccurs="1" name="ZIP" type="xs:string" />
              <xs:element minOccurs="0" maxOccurs="1" name="CTY" type="xs:string" />
              <xs:element minOccurs="0" maxOccurs="1" name="MCP" type="xs:string" />
              <xs:element minOccurs="0" maxOccurs="1" name="CTRY_CDE" type="xs:string" />
              <xs:element minOccurs="0" maxOccurs="1" name="TPH" type="xs:string" />
              <xs:element minOccurs="0" maxOccurs="1" name="RSP_CDE" type="xs:string" />
              <xs:element minOccurs="0" maxOccurs="1" name="RSP_NAM" type="xs:string" />
              <xs:element minOccurs="0" maxOccurs="1" name="RSP_REF_NBR" type="xs:string" />
              <xs:element minOccurs="0" maxOccurs="1" name="RSP_EXT_REF_NBR" type="xs:string" />
              <xs:element minOccurs="0" maxOccurs="1" name="RSP_AL1" type="xs:string" />
              <xs:element minOccurs="0" maxOccurs="1" name="RSP_AL2" type="xs:string" />
              <xs:element minOccurs="0" maxOccurs="1" name="RSP_STR" type="xs:string" />
              <xs:element minOccurs="0" maxOccurs="1" name="RSP_NBR" type="xs:string" />
              <xs:element minOccurs="0" maxOccurs="1" name="RSP_BOX" type="xs:string" />
              <xs:element minOccurs="0" maxOccurs="1" name="RSP_ZIP" type="xs:string" />
              <xs:element minOccurs="0" maxOccurs="1" name="RSP_CTY" type="xs:string" />
              <xs:element minOccurs="0" maxOccurs="1" name="RSP_MCP" type="xs:string" />
              <xs:element minOccurs="0" maxOccurs="1" name="RSP_CTRY_CDE" type="xs:string" />
              <xs:element minOccurs="0" maxOccurs="1" name="RSP_TPH" type="xs:string" />
              <xs:element minOccurs="0" maxOccurs="1" name="TUST_CDE" type="xs:string" />
              <xs:element minOccurs="0" maxOccurs="1" name="GEO_LAT" type="xs:decimal" />
              <xs:element minOccurs="0" maxOccurs="1" name="GEO_LON" type="xs:decimal" />
              <xs:element minOccurs="0" maxOccurs="1" name="GEO_X" type="xs:decimal" />
              <xs:element minOccurs="0" maxOccurs="1" name="GEO_Y" type="xs:decimal" />
              <xs:element minOccurs="0" maxOccurs="1" name="GXYS_CDE" type="xs:string" />
              <xs:element minOccurs="0" maxOccurs="1" name="GEO_STR_LTH" type="xs:decimal" />
              <xs:element minOccurs="0" maxOccurs="1" name="GEO_PLG_DEF" type="xs:string" />
              <xs:element minOccurs="0" maxOccurs="1" name="GIS_REF" type="xs:string" />
              <xs:element minOccurs="0" maxOccurs="1" name="BEG_DTE" type="xs:dateTime" />
              <xs:element minOccurs="0" maxOccurs="1" name="END_DTE" type="xs:dateTime" />
              <xs:element minOccurs="1" maxOccurs="1" name="IDP_FLG" type="xs:boolean" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="User" type="xs:string" />
      <xs:attribute name="SecurityToken" type="xs:string" />
      <xs:attribute name="ReturnCode" type="xs:string" />
      <xs:attribute name="ReturnMessage" type="xs:string" />
    </xs:complexType>
  </xs:element>
</xs:schema>