VSM.RUMA.SOAPSANITEL/Web References/SanitelServices/schema46.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://Sanitel.EAI/SanitelRepository/SanitelServices/StatusUpdateNotificationImportSchema" elementFormDefault="qualified" targetNamespace="http://Sanitel.EAI/SanitelRepository/SanitelServices/StatusUpdateNotificationImportSchema" id="schema46" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="StatusUpdateNotificationImport">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="StatusUpdateNotification">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" name="NOTF_ID" type="xs:long" />
            <xs:element minOccurs="0" maxOccurs="1" name="NOTP_CDE" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="NOKD_CDE" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="REF_NBR" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="WF_ACT" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="User" type="xs:string" />
    <xs:attribute name="SecurityToken" type="xs:string" />
    <xs:attribute name="OnBehalfRole" type="xs:string" />
    <xs:attribute name="OnBehalfEntity" type="xs:string" />
    <xs:attribute name="UserLanguage" type="xs:string" />
  </xs:complexType>
</xs:schema>