VSM.RUMA.SOAPSANITEL/Web References/SanitelServices/schema92.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://Sanitel.EAI/SanitelRepository/SanitelServices/MovementNotificationOverviewExportSchema" elementFormDefault="qualified" targetNamespace="http://Sanitel.EAI/SanitelRepository/SanitelServices/MovementNotificationOverviewExportSchema" id="schema92" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="MovementNotificationOverviewExport">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" name="MovementNotificationOverview">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="1" maxOccurs="1" name="NOTF_ID" type="xs:long" />
              <xs:element minOccurs="0" maxOccurs="1" name="NOTP_CDE" type="xs:string" />
              <xs:element minOccurs="0" maxOccurs="1" name="NOKD_CDE" type="xs:string" />
              <xs:element minOccurs="0" maxOccurs="1" name="NOST_CDE" type="xs:string" />
              <xs:element minOccurs="1" maxOccurs="1" name="OCR_DTE" type="xs:dateTime" />
              <xs:element minOccurs="0" maxOccurs="1" name="REF_NBR" type="xs:string" />
              <xs:element minOccurs="0" maxOccurs="1" name="ANTP_CDE" type="xs:string" />
              <xs:element minOccurs="0" maxOccurs="1" name="ANSB_CDE" type="xs:string" />
              <xs:element minOccurs="0" maxOccurs="1" name="ANCO_CDE" type="xs:string" />
              <xs:element minOccurs="1" maxOccurs="1" name="ANM_CNT" type="xs:decimal" />
              <xs:element minOccurs="0" maxOccurs="1" name="DOC_NBR" type="xs:string" />
              <xs:element minOccurs="0" maxOccurs="1" name="ADPR_CDE" type="xs:string" />
              <xs:element minOccurs="0" maxOccurs="1" name="LIC_PLT" type="xs:string" />
              <xs:element minOccurs="0" maxOccurs="1" name="ZIP" type="xs:string" />
              <xs:element minOccurs="0" maxOccurs="1" name="PATY_CDE_TRS" type="xs:string" />
              <xs:element minOccurs="0" maxOccurs="1" name="FCLT_CDE_SRC" type="xs:string" />
              <xs:element minOccurs="0" maxOccurs="1" name="FCLT_CDE_DST" type="xs:string" />
              <xs:element minOccurs="0" maxOccurs="1" name="SNUN_CDE" type="xs:string" />
              <xs:element minOccurs="0" maxOccurs="1" name="ANML_REF_NBR" type="xs:string" />
              <xs:element minOccurs="0" maxOccurs="1" name="SNUN_CDE_DST" type="xs:string" />
              <xs:element minOccurs="1" maxOccurs="1" name="NOTF_RCV_DTE" type="xs:dateTime" />
              <xs:element minOccurs="1" maxOccurs="1" name="NOTF_USR_CRE_DTE" type="xs:dateTime" />
              <xs:element minOccurs="1" maxOccurs="1" name="NOTF_PST_DTE" type="xs:dateTime" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="User" type="xs:string" />
      <xs:attribute name="SecurityToken" type="xs:string" />
      <xs:attribute name="ReturnCode" type="xs:string" />
      <xs:attribute name="ReturnMessage" type="xs:string" />
    </xs:complexType>
  </xs:element>
</xs:schema>