VSM.RUMA.SOAPSANITEL/Web References/SanitelServices/schema138.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://Sanitel.EAI/SanitelRepository/SanitelServices/SlaughterFileExportRequest" elementFormDefault="qualified" targetNamespace="http://Sanitel.EAI/SanitelRepository/SanitelServices/SlaughterFileExportRequest" id="schema138" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="SlaughterFileExportRequest">
    <xs:attribute name="User" type="xs:string" />
    <xs:attribute name="REF_NBR" type="xs:string" />
    <xs:attribute name="ResultIndex" type="xs:int" />
    <xs:attribute name="OnBehalfRole" type="xs:string" />
    <xs:attribute name="OnBehalfEntity" type="xs:string" />
    <xs:attribute name="UserLanguage" type="xs:string" />
    <xs:attribute name="SecurityToken" type="xs:string" />
    <xs:attribute name="DTE_FRM" type="xs:dateTime" use="required" />
    <xs:attribute name="DTE_TO" type="xs:dateTime" use="required" />
    <xs:attribute name="FCLT_NBR" type="xs:string" />
    <xs:attribute name="DETAIL_INFO_FLG" type="xs:string" />
  </xs:complexType>
</xs:schema>