VSM.RUMA.SOAPSANITEL/Web References/SanitelServices/schema12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://Sanitel.EAI/SanitelRepository/SanitelServices/ChangeMeatQualityImportSchema" elementFormDefault="qualified" targetNamespace="http://Sanitel.EAI/SanitelRepository/SanitelServices/ChangeMeatQualityImportSchema" id="schema12" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ChangeMeatQualityImport">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" name="Changeanimalmeatquality">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="1" maxOccurs="1" name="OCR_DTE" type="xs:dateTime" />
              <xs:element minOccurs="1" maxOccurs="1" name="RCV_DTE" type="xs:dateTime" />
              <xs:element minOccurs="0" maxOccurs="1" name="AMQL_CDE" type="xs:string" />
              <xs:element minOccurs="0" maxOccurs="1" name="REF_NBR" type="xs:string" />
              <xs:element minOccurs="0" maxOccurs="unbounded" name="Animal">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" maxOccurs="1" name="FUNC_CDE" type="xs:string" />
                    <xs:element minOccurs="0" maxOccurs="1" name="MACT_CDE" type="xs:string" />
                    <xs:element minOccurs="0" maxOccurs="1" name="MRK_NBR" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="User" type="xs:string" />
      <xs:attribute name="SecurityToken" type="xs:string" />
      <xs:attribute name="OnBehalfRole" type="xs:string" />
      <xs:attribute name="OnBehalfEntity" type="xs:string" />
      <xs:attribute name="UserLanguage" type="xs:string" />
    </xs:complexType>
  </xs:element>
</xs:schema>