VSM.RUMA.SOAPSANITEL/Web References/SanitelServices/schema118.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://Sanitel.EAI/SanitelRepository/SanitelServices/AgreementOverviewExportRequestSchema" elementFormDefault="qualified" targetNamespace="http://Sanitel.EAI/SanitelRepository/SanitelServices/AgreementOverviewExportRequestSchema" id="schema118" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="AgreementExportRequest">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Agreement">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" name="AGRE_ID" type="xs:long" />
            <xs:element minOccurs="0" maxOccurs="1" name="AGRE_CDE" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="REF_NBR" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="EXT_REF_NBR" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="AGTP_CDE" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="AGSA_CDE" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="APTP_CDE" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="PATY_CDE" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="FCLT_CDE" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="SNUN_CDE" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="DTE" type="xs:dateTime" />
            <xs:element minOccurs="0" maxOccurs="1" name="BEG_DTE_FRM" type="xs:dateTime" />
            <xs:element minOccurs="0" maxOccurs="1" name="BEG_DTE_TO" type="xs:dateTime" />
            <xs:element minOccurs="0" maxOccurs="1" name="END_DTE_FRM" type="xs:dateTime" />
            <xs:element minOccurs="0" maxOccurs="1" name="END_DTE_TO" type="xs:dateTime" />
            <xs:element minOccurs="0" maxOccurs="1" name="UPD_DTE_FRM" type="xs:dateTime" />
            <xs:element minOccurs="0" maxOccurs="1" name="UPD_DTE_TO" type="xs:dateTime" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="User" type="xs:string" />
    <xs:attribute name="SecurityToken" type="xs:string" />
    <xs:attribute name="ResultIndex" type="xs:int" />
    <xs:attribute name="OnBehalfRole" type="xs:string" />
    <xs:attribute name="OnBehalfEntity" type="xs:string" />
    <xs:attribute name="UserLanguage" type="xs:string" />
  </xs:complexType>
</xs:schema>