VSM.RUMA.SOAPSANITEL/Web References/SanitelServices/schema128.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://Sanitel.EAI/SanitelRepository/SanitelServices/MarkingSeriesOverviewExportSchema" elementFormDefault="qualified" targetNamespace="http://Sanitel.EAI/SanitelRepository/SanitelServices/MarkingSeriesOverviewExportSchema" id="schema128" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="MarkingSeriesOverviewExport">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" name="MarkingSeries">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" maxOccurs="1" name="ANTP_CDE" type="xs:string" />
              <xs:element minOccurs="0" maxOccurs="1" name="SEQ_BEG" type="xs:string" />
              <xs:element minOccurs="0" maxOccurs="1" name="SEQ_END" type="xs:string" />
              <xs:element minOccurs="0" maxOccurs="1" name="MACT_CDE" type="xs:string" />
              <xs:element minOccurs="0" maxOccurs="1" name="MARK_NBR" type="xs:string" />
              <xs:element minOccurs="0" maxOccurs="1" name="CNT" type="xs:string" />
              <xs:element minOccurs="0" maxOccurs="1" name="SNUN_CDE" type="xs:string" />
              <xs:element minOccurs="0" maxOccurs="1" name="NAM" type="xs:string" />
              <xs:element minOccurs="0" maxOccurs="1" name="STR" type="xs:string" />
              <xs:element minOccurs="0" maxOccurs="1" name="NBR" type="xs:string" />
              <xs:element minOccurs="0" maxOccurs="1" name="ZIP" type="xs:string" />
              <xs:element minOccurs="0" maxOccurs="1" name="CTY" type="xs:string" />
              <xs:element minOccurs="0" maxOccurs="1" name="MCP" type="xs:string" />
              <xs:element minOccurs="0" maxOccurs="1" name="ALC_DTE" type="xs:dateTime" />
              <xs:element minOccurs="0" maxOccurs="1" name="UPD_DTE" type="xs:dateTime" />
              <xs:element minOccurs="0" maxOccurs="1" name="OISN_CDE" type="xs:string" />
              <xs:element minOccurs="0" maxOccurs="1" name="OITP_CDE" type="xs:string" />
              <xs:element minOccurs="0" maxOccurs="1" name="OILB_CDE" type="xs:string" />
              <xs:element minOccurs="0" maxOccurs="1" name="CTRY" type="xs:string" />
              <xs:element minOccurs="0" maxOccurs="1" name="ORIM_CDE" type="xs:string" />
              <xs:element minOccurs="0" maxOccurs="1" name="REF_NBR" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="User" type="xs:string" />
      <xs:attribute name="SecurityToken" type="xs:string" />
      <xs:attribute name="ReturnCode" type="xs:string" />
      <xs:attribute name="ReturnMessage" type="xs:string" />
    </xs:complexType>
  </xs:element>
</xs:schema>