VSM.RUMA.SOAPSANITEL/Web References/SanitelServices/schema76.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://Sanitel.EAI/SanitelRepository/SanitelServices/AnimalExportRequestSchema" elementFormDefault="qualified" targetNamespace="http://Sanitel.EAI/SanitelRepository/SanitelServices/AnimalExportRequestSchema" id="schema76" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="AnimalExportRequest">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Animal">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" name="ANTP_CDE" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="CDE" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="User" type="xs:string" />
    <xs:attribute name="SecurityToken" type="xs:string" />
    <xs:attribute name="OnBehalfRole" type="xs:string" />
    <xs:attribute name="OnBehalfEntity" type="xs:string" />
    <xs:attribute name="UserLanguage" type="xs:string" />
  </xs:complexType>
</xs:schema>