VSM.RUMA.SOAPSANITEL/Web References/SanitelServices/schema6.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://Sanitel.EAI/SanitelRepository/SanitelServices/AnimalNotificationImportSchema" elementFormDefault="qualified" targetNamespace="http://Sanitel.EAI/SanitelRepository/SanitelServices/AnimalNotificationImportSchema" id="schema6" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="AnimalNotificationImport">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" name="AnimalNotification">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" maxOccurs="1" name="NOTP_CDE" type="xs:string" />
              <xs:element minOccurs="0" maxOccurs="1" name="NOKD_CDE" type="xs:string" />
              <xs:element minOccurs="0" maxOccurs="1" name="OCR_DTE" type="xs:dateTime" />
              <xs:element minOccurs="1" maxOccurs="1" name="RCV_DTE" type="xs:dateTime" />
              <xs:element minOccurs="0" maxOccurs="1" name="REF_NBR" type="xs:string" />
              <xs:element minOccurs="0" maxOccurs="1" name="DOC_NBR" type="xs:string" />
              <xs:element minOccurs="0" maxOccurs="1" name="ANTP_CDE" type="xs:string" />
              <xs:element minOccurs="0" maxOccurs="1" name="ANM_CNT" type="xs:int" />
              <xs:element minOccurs="0" maxOccurs="1" name="ANCO_CDE" type="xs:string" />
              <xs:element minOccurs="0" maxOccurs="1" name="CRF_NBR" type="xs:string" />
              <xs:element minOccurs="0" maxOccurs="1" name="LIC_PLT" type="xs:string" />
              <xs:element minOccurs="0" maxOccurs="1" name="CTRY_CDE_FRM" type="xs:string" />
              <xs:element minOccurs="0" maxOccurs="1" name="CTRY_CDE_TO" type="xs:string" />
              <xs:element minOccurs="0" maxOccurs="1" name="RETURN_ALL_ANOMALIES" type="xs:boolean" />
              <xs:element minOccurs="0" maxOccurs="1" name="CMN" type="xs:string" />
              <xs:element minOccurs="0" maxOccurs="unbounded" name="Party">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" maxOccurs="1" name="NPTP_CDE" type="xs:string" />
                    <xs:element minOccurs="0" maxOccurs="1" name="CDE" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" maxOccurs="unbounded" name="Facility">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" maxOccurs="1" name="NFTP_CDE" type="xs:string" />
                    <xs:element minOccurs="0" maxOccurs="1" name="CDE" type="xs:string" />
                    <xs:element minOccurs="0" maxOccurs="1" name="FALO_REF_NBR" type="xs:string" />
                    <xs:element minOccurs="0" maxOccurs="1" name="SNUN_CDE" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" maxOccurs="unbounded" name="Animal">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" maxOccurs="1" name="REF_NBR" type="xs:string" />
                    <xs:element minOccurs="0" maxOccurs="1" name="MACT_CDE" type="xs:string" />
                    <xs:element minOccurs="0" maxOccurs="1" name="MRK_NBR" type="xs:string" />
                    <xs:element minOccurs="0" maxOccurs="1" name="ANML_REF_NBR_MHR" type="xs:string" />
                    <xs:element minOccurs="0" maxOccurs="1" name="ANML_REF_NBR_MHR_GTC" type="xs:string" />
                    <xs:element minOccurs="0" maxOccurs="1" name="ANSB_CDE" type="xs:string" />
                    <xs:element minOccurs="0" maxOccurs="1" name="ANRC_CDE" type="xs:string" />
                    <xs:element minOccurs="0" maxOccurs="1" name="ANRT_CDE" type="xs:string" />
                    <xs:element minOccurs="0" maxOccurs="1" name="ASRV_CDE" type="xs:string" />
                    <xs:element minOccurs="0" maxOccurs="1" name="GNDR_CDE" type="xs:string" />
                    <xs:element minOccurs="0" maxOccurs="1" name="HRTP_CDE" type="xs:string" />
                    <xs:element minOccurs="0" maxOccurs="1" name="BTH_DTE" type="xs:dateTime" />
                    <xs:element minOccurs="0" maxOccurs="1" name="IMO_DTE" type="xs:dateTime" />
                    <xs:element minOccurs="0" maxOccurs="1" name="DTH_DTE" type="xs:dateTime" />
                    <xs:element minOccurs="0" maxOccurs="1" name="ANDT_CDE" type="xs:string" />
                    <xs:element minOccurs="0" maxOccurs="1" name="PRUN_REF_NBR" type="xs:string" />
                    <xs:element minOccurs="0" maxOccurs="1" name="EXT_GRP_NBR" type="xs:string" />
                    <xs:element minOccurs="0" maxOccurs="1" name="EXT_SGP_NBR" type="xs:string" />
                    <xs:element minOccurs="0" maxOccurs="1" name="ORI_NBR" type="xs:string" />
                    <xs:element minOccurs="0" maxOccurs="1" name="CRF_NBR" type="xs:string" />
                    <xs:element minOccurs="0" maxOccurs="1" name="PPPU_CDE" type="xs:string" />
                    <xs:element minOccurs="0" maxOccurs="1" name="CTRY_CDE_IMO" type="xs:string" />
                    <xs:element minOccurs="0" maxOccurs="1" name="VRV_FLG" type="xs:string" />
                    <xs:element minOccurs="0" maxOccurs="1" name="VRV_IDN_CRD_FLG" type="xs:string" />
                    <xs:element minOccurs="0" maxOccurs="1" name="ABFY_CDE" type="xs:string" />
                    <xs:element minOccurs="0" maxOccurs="1" name="ABSP_CDE_BAG" type="xs:string" />
                    <xs:element minOccurs="0" maxOccurs="1" name="ADSP_CDE" type="xs:string" />
                    <xs:element minOccurs="0" maxOccurs="1" name="ANCP_CDE" type="xs:string" />
                    <xs:element minOccurs="0" maxOccurs="1" name="NRS_MHR_FLG" type="xs:string" />
                    <xs:element minOccurs="0" maxOccurs="1" name="ANPR_CDE_BAG" type="xs:string" />
                    <xs:element minOccurs="0" maxOccurs="1" name="AMQL_CDE" type="xs:string" />
                    <xs:element minOccurs="0" maxOccurs="1" name="ANVS_CDE" type="xs:string" />
                    <xs:element minOccurs="0" maxOccurs="1" name="ANVN_CDE" type="xs:string" />
                    <xs:element minOccurs="0" maxOccurs="1" name="VRV_NAM" type="xs:string" />
                    <xs:element minOccurs="0" maxOccurs="1" name="BTH_WGH" type="xs:string" />
                    <xs:element minOccurs="1" maxOccurs="1" name="DNA_SMP_FLG" type="xs:boolean" />
                    <xs:element minOccurs="0" maxOccurs="1" name="DNAQ_CDE" type="xs:string" />
                    <xs:element minOccurs="1" maxOccurs="1" name="MLT_BTH_FLG" type="xs:boolean" />
                    <xs:element minOccurs="1" maxOccurs="1" name="RCE_PUR_FLG" type="xs:boolean" />
                    <xs:element minOccurs="0" maxOccurs="1" name="BVD_CERT_CDE" type="xs:string" />
                    <xs:element minOccurs="0" maxOccurs="1" name="History">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element minOccurs="0" maxOccurs="1" name="VTY_CDE" type="xs:string" />
                          <xs:element minOccurs="0" maxOccurs="1" name="VTY_NAM" type="xs:string" />
                          <xs:element minOccurs="0" maxOccurs="1" name="RSP_CDE" type="xs:string" />
                          <xs:element minOccurs="0" maxOccurs="1" name="RSP_NAM" type="xs:string" />
                          <xs:element minOccurs="0" maxOccurs="1" name="RSP_STR" type="xs:string" />
                          <xs:element minOccurs="0" maxOccurs="1" name="RSP_NBR" type="xs:string" />
                          <xs:element minOccurs="0" maxOccurs="1" name="RSP_ZIP" type="xs:string" />
                          <xs:element minOccurs="0" maxOccurs="1" name="RSP_CTY" type="xs:string" />
                          <xs:element minOccurs="0" maxOccurs="1" name="RSP_MCP" type="xs:string" />
                          <xs:element minOccurs="0" maxOccurs="1" name="RSP_CTRY_CDE" type="xs:string" />
                          <xs:element minOccurs="0" maxOccurs="1" name="BLST_CDE" type="xs:string" />
                          <xs:element minOccurs="0" maxOccurs="1" name="BLO_STA_CMN" type="xs:string" />
                          <xs:element minOccurs="0" maxOccurs="1" name="RIQU_CDE" type="xs:string" />
                          <xs:element minOccurs="0" maxOccurs="1" name="RIQR_CDE" type="xs:string" />
                          <xs:element minOccurs="0" maxOccurs="1" name="RSK_QAL_CMN" type="xs:string" />
                          <xs:element minOccurs="0" maxOccurs="1" name="PPT_VRS_NBR" type="xs:string" />
                          <xs:element minOccurs="0" maxOccurs="1" name="PPR_CDE" type="xs:string" />
                          <xs:element minOccurs="0" maxOccurs="1" name="PBST_CDE" type="xs:string" />
                          <xs:element minOccurs="0" maxOccurs="1" name="PBRS_CDE" type="xs:string" />
                          <xs:element minOccurs="0" maxOccurs="1" name="PPT_BLO_STA_CMN" type="xs:string" />
                          <xs:element minOccurs="0" maxOccurs="1" name="TUST_CDE" type="xs:string" />
                          <xs:element minOccurs="0" maxOccurs="1" name="TUBR_CDE" type="xs:string" />
                          <xs:element minOccurs="0" maxOccurs="1" name="DTE_FRM" type="xs:dateTime" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="ANCO_CDE" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="User" type="xs:string" />
      <xs:attribute name="SecurityToken" type="xs:string" />
      <xs:attribute name="OnBehalfRole" type="xs:string" />
      <xs:attribute name="OnBehalfEntity" type="xs:string" />
      <xs:attribute name="UserLanguage" type="xs:string" />
    </xs:complexType>
  </xs:element>
</xs:schema>